{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modifiction du mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">Formulaire de modification de votre mot de passe</h1>

		{% for message in app.flashes('warning')%}
			<div class="alert alert-warning mt-4">
				{{message}}
			</div>
		{% endfor %}

		{{form(form)}}
		</div>

	{% endblock %}
