{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Modifiction de l'utilisateur
{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="mt-4">Formulaire de modification des informations de l'utilisateur</h1>

		{{form(form)}}
		</div>

	{% endblock %}
