{% extends 'base.html.twig' %}

{% block title %}SymRecipe - Nous contacter
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Formulaire de contact</h1>

		{% for message in app.flashes('success')%}
			<div class="alert alert-success mt-4">
				{{message}}
			</div>
		{% endfor %}
		{{form(form)}}
		</div>
	{% endblock %}
